# Minimal dependencies to run the unit test suite
coverage==7.13.2
fastapi==0.128.0
httpx[http2]==0.28.1
json_repair==0.55.1
orjson==3.11.6
peewee==3.19.0
pyjwt==2.11.0
pydantic==2.12.5
pydantic-settings==2.12.0
python-multipart==0.0.22
trafilatura==2.0.0
uvicorn[standard]==0.40.0
pytest==9.0.2
pytest-asyncio==1.3.0
